* {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 60px;
  font-weight: bolder;
}

h2 {
  font-size: 50px;
}

h3 {
  font-size: 40px;
  font-weight: 700;
}

.wrapper {
  margin: 0;
  padding: 0;
}

/* navbar */
.navbar {
  background-color: white;
  margin: 0;
  padding: 0;
}


.login_btn {
  background-color: white;
  color: black;



}

.login_btn:hover {
  background-color: black;
  color: white;
  border: 2px solid white;
}

.free_account_btn {
  background-color: #e9663e;

  color: white;
}



.free_account_btn:hover {
  background-color: #f5c518;
  color: black;
}

.nav_buttons {
  font-family: "Inter", sans-serif;
  text-align: center;
  font-weight: 600;
  border: 3px solid black;
  border-radius: 10px;
  box-shadow: 3px 5px 0px rgba(0, 0, 0, 1.3);
  padding: 10px 20px;
  cursor: pointer;
  transition: 0.3s ease;

  position: relative;
  z-index: 100;
}





/* hero_section */

.favorite {
  font-family: "Covered By Your Grace", "cursive";
  font-style: normal;
  color: #009387;
}

.hero_section_container {
  background-color: #E0F8F2;
}

.first-section-img{
  background-image: url(./images/image.png);
  background-repeat: no-repeat;
  background-size:contain;
  display: block;
  
}







/* 
.graph-img {

  z-index: 6;
  position: absolute;
}


.card-img {

  transform: rotate(-40deg);


} */

.star-rating {
  color: #f5c518;
  font-size: 1.2rem;

}

.custom-btn {
  background-color: #ff6933;
  color: white;
  border: 2px solid black;
  font-size: smaller;
  font-family: 'Inter', sans-serif;
  border-radius: 8px;
  box-shadow: 3px 5px 0px rgba(0, 0, 0, 1.3);
  border-color: 2px solid black;
  transition: all 0.3s ease;
  cursor: pointer;
  padding: 15px 40px;

}

.custom-btn:hover {
  background-color: #f5c518;
  transform: translateY(-2px);
  box-shadow: 4px 6px 0px rgba(0, 0, 0, 1.3);
  color: black;
}





/* DTC */


.dtc_heading {
  font-family: 'Inter', sans-serif;
  width: 500px;
  margin: 40px auto 0 auto;
  text-align: center;

}

.dtc {
  font-family: "Covered by your Grace";
  font-weight: 900;
  color: #009387;
}

.card_dtc {
  background-color: none !important;
  box-shadow: none !important;
  border: none;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card_dtc:hover {
  transform: translateY(-10px) scale(1.03);
  box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.1);

}


.slick-next {
  display: none !important;
}


/* stats portion */
.stats_heading {
  position: relative;
  top: 50px;
  font-size: 50px;
  font-weight: bold;
  font-family: 'Inter', sans-serif;
}

.percentage_20 {

  box-shadow: 3px 5px 0px rgba(0, 0, 0, 1.3);
  border-radius: 10px;
  border: 2px solid black;
  width: 100px;

}

.percentage_90 {
  height: 200px;
  width: 100px;
  box-shadow: 3px 5px 0px rgba(0, 0, 0, 1.3);
  border-radius: 10px;
  border: 2px solid black;
  color: white;
}


/* reviews */

.review_1_heading {
  font-weight: bolder;
  font-family: 'Inter', sans-serif;
}

.reviews_blockquote {
  position: relative;
  border: 2px solid rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  width: 90%;
  min-height: 200px;
  padding: 1.0rem;
}





.inverted_colon {
  position: absolute;
  top: -20px;
  left: 20px;
  padding: 0 5px;
}

.review_3_custom-btn {
  background-color: #ff6933;
  color: white;
  border: 2px solid black;
  padding: 15px 40px;
  font-size: smaller;
  font-family: 'Inter', sans-serif;
  border-radius: 8px;
  box-shadow: 3px 5px 0px rgba(0, 0, 0, 1.3);
  transition: all 0.3s ease;
  cursor: pointer;
}

.review_3_custom-btn:hover {
  background-color: #f5c518;
  transform: translateY(-2px);
  box-shadow: 4px 6px 0px rgba(0, 0, 0, 1.3);
  color: black;
}



/* Grid */

.grid_card {
  box-shadow: none !important;
  border: none;
  margin-bottom: 1.5rem;
  border-radius: 12px;
  height: 380px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.grid_card:hover {
  transform: translateY(-10px) scale(1.03);
  box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.1);
  border: 2px solid black;
}

.card-img-top {
  max-height: 160px;
  object-fit: contain;
  margin: 0 auto;
}



/* coupon */

.coupon-btn {
  background-color: white;
  color: black;
  width: 200px;
  padding: 10px 20px;
  border-radius: 8px;
  box-shadow: 3px 5px 0px rgba(0, 0, 0, 1.3);
  border-color: 2px solid black;
  transition: all 0.3s ease;
  cursor: pointer;


}

.coupon-btn:hover {
  background-color: black;
  color: white;
  transform: translateY(-2px);
  box-shadow: 4px 6px 0px rgba(0, 0, 0, 1.3);
  border: 2px solid white;
}

.facts {
  font-weight: 700;
  font-size: x-large;
}

.facts_type {
  font-weight: normal;
  font-size: small;
}



/* hand_held_coupon */



.handheld-custom-btn {
  background-color: white;
  color: black;
  border: 2px solid black;
  width: 230px;
  height: 55px;
  padding: 10px 20px;
  font-size: smaller;
  font-family: 'Inter', sans-serif;
  border-radius: 8px;
  box-shadow: 3px 5px 0px rgba(0, 0, 0, 1.3);
  transition: all 0.3s ease;
  cursor: pointer;
}

.handheld-custom-btn:hover {
  background-color: black;
  color: white;
  transform: translateY(-2px);
  box-shadow: 4px 6px 0px rgba(0, 0, 0, 1.3);
  border: 2px solid white;
}



.star_rating_coupon {
  font-size: 1.2rem;
  color: white;
}

/* working */

.scroll-box {
  font-weight: 200;
  font-size: small;
  height: 120px;
  max-width: 500px;
  overflow-y: auto;
  direction: rtl;
  text-align: left;
}


.scroll-box::-webkit-scrollbar {
  width: 6px;
}

.scroll-box::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 4px;
}

.scroll-box::-webkit-scrollbar-track {
  background: transparent;
}

/* tweets */

.items_tweet {
  margin-top: 50px;
  
  
}



.card .card-body {
  padding: 1rem;
}

.tweet-btn {
  background-color: #ff6933;
  color: white;
  border: none;
  width: 200px;
  padding: 10px 20px;
  border-radius: 8px;
  box-shadow: 3px 5px 0px rgba(0, 0, 0, 1.3);
  border: 2px solid black;

}

.card_tweet {
  display: flex;
  width: 350px;
  flex-direction: column;
  border: 2px solid black;
  border-radius: 11px;
  box-shadow: 0px 0px 5px rgba(161, 163, 164, 1);
  margin: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card_tweet:hover {
  transform: translateY(-10px) scale(1.03);
  box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.1);
  border: 2px solid black;
}

/* Latest_Trends */

.trend_card {

  border-radius: 11px;
  margin: 10px;
  background-color: transparent !important;
  box-shadow: none !important;
  border: none;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.trend_card:hover {
  transform: translateY(-10px) scale(1.03);
  box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.1);

}


/* footer */

.login_footer {
  border: 3px solid black;
  font-family: "Inter", sans-serif;
  border-radius: 10px;
  box-shadow: 3px 5px 0px rgba(0, 0, 0, 1.3);
  width: 120px;
  height: 40px;
  background-color: white;
  transition: all 0.3s ease;
  cursor: pointer;
  color: black;

}

.login_footer:hover {
  background-color: black;
  color: white;
  transform: translateY(-2px);
  box-shadow: 4px 6px 0px rgba(0, 0, 0, 1.3);
  border: 2px solid white;
}

.try_it_btn {
  background-color: #e9663e;
  border: 3px solid black;
  font-family: "Inter", sans-serif;
  border-radius: 10px;
  box-shadow: 3px 5px 0px rgba(0, 0, 0, 1.3);
  width: 150px;
  height: 40px;
  transition: all 0.3s ease;
  cursor: pointer;
  color: white;

}

.try_it_btn:hover {
  background-color: #f5c518;
  transform: translateY(-2px);
  box-shadow: 4px 6px 0px rgba(0, 0, 0, 1.3);
  color: black;
}









/* Mobile */

@media (max-width: 767px) {
  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 25px;
  }

  h3 {
    font-size: 20px;
  }

  h4 {
    font-size: 15px;
  }
.nav_buttons{
  padding: 5px 20px;
}

  .hero_section_container {
    background-color: #E0F8F2;
  }

  .custom-btn {
    padding: 10px;
  }


  .scroll-box {
    max-width: 100%;
    height: 100px;
  }

  .percentage_container {
    margin-top: 50px;

  }

  .hero_text_area {
    display: flex;
    justify-content: center;
    align-items: center;

  }

  .hero_heading {
    font-family: "Inter", sans-serif;

  }
 
  .first-section-img{
  background-image: url(/images/card.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: none !important;
  
}


}

@media (min-width: 768px) and (max-width: 990px) {
  .first-section-img {
    display: none !important;
  }

  .col-lg-6 {
    width: 100% !important;
    max-width: 100% !important;
    flex: 0 0 100% !important;
    justify-content: center !important;
  }

  .text-md-start {
    text-align: center !important;
    padding: 0 !important;
  }

  .custom-btn {
    margin: 0 auto;
  }
  .rating_container {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    
  }
}


/* @media (min-width: 769px) and (max-width: 1024px) {

  h1 {
    font-size: 50px;
  }

  .graph-img {
    width: 40%;
    top: 105px;
    position: absolute;

  }

  .card-img {
    transform: rotate(-40deg);
    margin-top: 50px;
    width: 90%;

  }

  .nav_buttons_container {
    display: flex;

  }

  .nav_buttons {
    padding: 2px 22px;
  }

  .custom-btn {
    padding: 10px;
  }



} */

/* @media (min-width:1025px) and (max-width: 1440px) {

  .graph-img {
    width: 34%;
    margin-top: 100px;

    position: absolute;
  }

  .card-img {
    width: 70%;
    margin-top: 50px;
    transform: rotate(-40deg);
  }



} */




/* @media (min-width:1441px) and (max-width: 2560px) {
  .graph-img {
    width: 20%;
    position: absolute;
  }

  .card-img {
    transform: rotate(-40deg);
    width: 60%;

  }

} */


/* .graph-img {
    width: 50%;

    z-index: 6;
    position: absolute;
    top: 180px;


  }

  .card-img {

    width: 90%;
    margin-top: 150px;
    transform: rotate(-40deg);

  } */

  

/* @media (min-width: 320px) and (max-width: 480px) {

  h1 {
    font-size: 35px;
  }

  h2 {
    font-size: 30px;
  }

  h3 {
    font-size: 20px;
  }

  h4 {
    font-size: 15px;
  }

  .grid_card p {
    font-size: 10px;
  }

  .nav_buttons {
    padding: 10px;
  }

  .handheld_coupon_heading {
    font-size: 40px;
    font-weight: bold;
  }

  .coupon_heading {
    text-align: center;
  }

  .review_1_heading {

    font-weight: bolder;
    font-family: 'Inter', sans-serif;
  }

  .stats_heading {
    position: relative;
    top: 50px;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    text-align: center;
  }

  

  .graph-img {

    position: absolute;
    top: 10px;
  }

  .card-img {
    width: 90%;
    transform: rotate(-40deg);
    margin-top: 150px;
  }




  .card-img-top {
    max-height: 100px;
    object-fit: contain;
    margin: 0 auto;
  }

  .grid_container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .grid_card {
    box-shadow: none;
    border: none;
    margin-bottom: 1.5rem;
    border-radius: 12px;
    width: 100%;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    max-height: 280px;

  }

  .review_3_custom-btn {
    background-color: #ff6933;
    color: white;
    border: 2px solid black;
    font-size: smaller;
    font-family: 'Inter', sans-serif;
    border-radius: 8px;
    box-shadow: 3px 5px 0px rgba(0, 0, 0, 1.3);
    transition: all 0.3s ease;
    cursor: pointer;
    padding: 10px 10px;
  }

  .custom-btn {
    padding: 10px;
  }

  .paragon {
    height: 10px;
    width: 20px;
  }


}
  */